body {
  background-color: #442302;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

@font-face{
  font-family: "LucidaCalligraphy";
  src: url(font/LucidaCalligraphy.ttf);
}

h1 {
  text-align: center;
  font-family: "LucidaCalligraphy";
}

input,
button,
textarea {
  border: 0;
  outline: none;
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 1000px;
  margin: 0 auto;
  background-color: #eddcca;
}

.logo {
  width: 300px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 40px;
}

.navbar li {
  margin: 0 20px;
}

.navbar li a {
  font-size: 20px;
  color: #442302;
  padding: 4px 20px;
}

.navbar li a:hover {
  background-color: #442302;
  color: #fff;
}

.navbar li a.active {
  background-color: #442302;
  color: #fff;
}

.bigtitle {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.bigtitle .line {
  width: 100px;
  height: 2px;
  background-color: #999;
  margin-top: 15px;
}

.bigtitle h2 {
  font-size: 32px;
  margin: 0 20px;
}

.zhonglei {
  padding: 50px;
}

.zhonglei .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.zhonglei .list li {
  width: 32%;
  margin-bottom: 20px;
}

.zhonglei .list li .image {
  position: relative;
  height: 192px;
  border-radius: 10px;
  overflow: hidden;
}

.zhonglei .list li .image img {
  height: 100%;
  display: block;
  transition: 0.5s;
}

.zhonglei .list li .image img:hover {
  transform: scale(1.1);
}

.zhonglei .list li .image .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.zhonglei .list li .image .text .title {
  font-size: 18px;
}

.zhonglei .list li .image .text .en {
  font-size: 14px;
}

.kafeidou .banner {
  padding: 50px 0;
}

.kafeidou .list {
  padding: 0 20px;
}

.kafeidou .list li {
  display: flex;
  margin-bottom: 40px;
}

.kafeidou .list li .image {
  width: 400px;
}

.kafeidou .list li .image img {
  height: 100%;
}

.kafeidou .list li .text {
  flex: 1;
  background-color: #eee;
  padding: 50px;
}

.kafeidou .list li .text .title {
  font-size: 32px;
  font-weight: bold;
}

.kafeidou .list li .text .desc {
  margin-top: 40px;
}

.kafeidou .list li .text .desc p {
  padding-bottom: 10px;
  line-height: 1.5;
}

.yongju {
  background-color: #eddcca;
}

.yongju .banner {
  padding: 50px 0;
}


.yongju .part1 .Mtitle{
  width: 100%;
  background-color: #fff;
  padding: 10px;
}



.yongju .part1 .title {
  font-size: 32px;
  color: #442302;
  text-align: center;
  padding-bottom: 20px;
}

.yongju .part1 p {
  line-height: 1.5;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #442302;
  font-size: 18px;
}

.yongju .part1 .flex-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.yongju .part1 .flex-box .image {
  width: 50%;
}

.yongju .part1 .flex-box .image img {
  transition: 0.5s;
}

.yongju .part1 .flex-box .image img:hover {
  transform: scale(1.1);
}

.yongju .part1 .flex-box .text {
  width: 45%;
}

.yongju .part1 .flex-box .text p {
  text-indent: 0;
}

.lianxi .form {
  width: 600px;
  margin: 50px auto;
}

.lianxi .form input {
  box-sizing: border-box;
}

.lianxi .form .form-item {
  margin-bottom: 30px;
}

.lianxi .form span {
  display: inline-block;
  margin-bottom: 10px;
}

.lianxi .form input[type=text],
.lianxi .form select,
.lianxi .form textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #666;
}

.lianxi .form textarea {
  resize: none;
  height: 200px;
  padding: 10px;
}

.lianxi .form button {
  display: block;
  width: 100%;
  padding: 20px 0;
  background-color: #000;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.lianxi .form button:hover {
  background-color: #333;
}
